/* ==========================================

共通

==========================================*/

body {
  position: relative; /* allHabitsの位置 */
  display: flex; /* footer下部に固定のため */
  flex-direction: column; /* footer下部に固定のため */
  min-height: 100vh; /* footer下部に固定のため */
  font-family: "Noto Sans JP", sans-serif;
  font-size: 15px;
  color: var(--black-color);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
}

:root {
  --main-color: #4f9466;
  --sub-color: #a8d983;
  --gray-color: #e3e3e3;
  --black-color: #4e4949;
}

h2 {
  margin-top: 56px;
  margin-bottom: 32px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.hide {
  display: none;
}

/* ==========================================

ヘッダー

==========================================*/

header {
  padding-top: 30px;
  text-align: center;
}

.logo {
  width: 100px;
}

h1 {
  margin-top: 16px;
  font-family: "Fuzzy Bubbles", sans-serif;
  font-size: clamp(1.875rem, 0.991rem + 3.76vw, 3.813rem);
  background: linear-gradient(270deg, #a8d983, #4f9466);
  -webkit-background-clip: text; /* テキストグラデ */
  -webkit-text-fill-color: transparent; /* テキストグラデ */
}

.all-habits {
  position: fixed;
  bottom: 98px;
  right: 60px;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  line-height: 1.5; /* 行間調整 */
  font-weight: bold;
  color: #ffffff;
  background: linear-gradient(45deg, #ecd136, #dc4b12);
  cursor: pointer;
  border: none;
  transition: 0.2s;
}

.all-habits:hover {
  opacity: 0.8;
  transition: 0.2s;
}

/* ==========================================

登録・ログイン画面

==========================================*/

main {
  flex-grow: 1; /* footer下部に固定のため */
  margin: 0 auto;
  text-align: center;
}

.p-text {
  margin-top: 24px;
  margin-bottom: 8px;
}

.link-btn {
  text-decoration: none;
  color: inherit; /* リンクカラー無し */
}

.under-line {
  text-decoration: underline;
  font-weight: bold;
  color: var(--main-color);
}

/* --------------- メンバー登録・ログイン画面 --------------- */

#signup-fields,
#login-fields {
  display: flex;
  flex-direction: column; /* 縦並び */
  gap: 20px; /* アイテム間の隙間 */
  align-items: center;
}

/* --------------- 入力フォーム --------------- */

#signup-fields input,
#login-fields input {
  box-sizing: border-box;
  width: 300px;
  padding: 12px;
  border: none; /* デフォルトの枠線消す */
  border: 2px solid var(--gray-color);
  border-radius: 9px;
}

#signup-fields input:focus,
#login-fields input:focus {
  outline: none; /*フォーカス時の枠線消す */
  outline: 1px solid var(--sub-color);
  border: 2px solid var(--sub-color);
}

#signup-btn {
  background: linear-gradient(45deg, #ecd136, #dc4b12);
}

#login-btn {
  background: linear-gradient(45deg, #7cc444, #28623c);
}

.btn-in {
  margin-top: 8px;
  width: 300px;
  height: 45px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  transition: 0.2s;
}

.btn-in:hover {
  opacity: 0.8;
  transition: 0.2s;
}

/* ==========================================

投稿画面

==========================================*/

#title {
  margin-top: 50px;
  margin-bottom: 20px;
}

#text {
  resize: vertical;
  min-height: 200px;
  line-height: 1.5;
}

#title,
#text {
  display: flex;
  flex-direction: column; /* 縦並び */
  gap: 20px; /* アイテム間の隙間 */
  align-items: center;
  box-sizing: border-box;
  padding: 12px;
  width: clamp(21.25rem, 13.835rem + 31.55vw, 37.5rem);
  border: none; /* デフォルトの枠線消す */
  border: 2px solid var(--gray-color);
  border-radius: 9px;
}

#title:focus,
#text:focus {
  outline: none; /*フォーカス時の枠線消す */
  outline: 1px solid var(--sub-color);
  border: 2px solid var(--sub-color);
}

.col {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.label {
  padding: 0 20px;
}

#send {
  margin-top: 50px;
  width: 300px;
  height: 45px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  background: linear-gradient(45deg, #7cc444, #28623c);
  transition: 0.2s;
}

#send:hover {
  opacity: 0.8;
  transition: 0.2s;
}

/* ==========================================

一覧表

==========================================*/

#output {
  margin-top: 50px;
}

.post {
  border-bottom: 1px solid var(--sub-color);
  padding: 24px;
}

#output h3 {
  font-size: 17px;
  font-weight: bold;
  text-align: left;
}

.main-text {
  margin-top: 8px;
  width: clamp(21.25rem, 13.835rem + 31.55vw, 37.5rem);
  text-align: left;
  line-height: 1.5;
}

.col2 {
  display: flex;
  justify-content: right;
  margin-top: 8px;
}

.profile {
  text-align: right;
}

/* ==========================================

フッター

==========================================*/

footer {
  margin-top: 40px;
  padding: 20px;
  background: linear-gradient(270deg, #a8d983, #4f9466);
}

footer p {
  text-align: center;
  font-size: 12px;
  color: #ffffff;
}
